.container {
	max-width: 1170px;
	width:100%;
	margin: 0 auto; 
}
.flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.flex-mobi{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo img{
	height: 50px;
}
.navbar-ul{
	display: flex;
	font-size: 24px;
}
.nav-li{
	margin-left: 100px;
	background-color: pink;
}
.img1{
	height:560px;
	margin-top: 30px;
}
.tex1{
	font-size: 14px;
	background-color: pink;
	margin-left: 80px;
	margin-top: 100px;
	width: 85px;
}
.tex2{
	font-size: 30px;
	background-color: pink;
	margin-left: 80px;
	margin-top: 20px;
	width: 360px;
}
.tex3{
	font-size: 14px;
	background-color: pink;
	margin-left: 80px;
	margin-top: 30px;
	line-height: 1.6;
}
.tex4{
	font-size: 14px;
	background-color: pink;
	margin-left: 80px;
	margin-top: 50px;
	width: 130px;
}
.img2{
	height:280px;
	margin-top: 135px;
	margin-left: 80px;
}
.img3{
	height:280px;
	margin-top: 135px;
	margin-right: 130px;
}
.t1{
	display: flex;
	justify-content: space-between;
	margin-right: 128px;
}
.te1{
	font-size: 14px;
	background-color: pink;
	margin-left: 80px;
	margin-top: 30px;
	width: 85px;
}
.te2{
	font-size: 30px;
	background-color: pink;
	margin-left: 80px;
	margin-top: 20px;
	width: 380px;
}
.te3{
	font-size: 14px;
	background-color: pink;
	margin-left: 80px;
	margin-top: 35px;
	width: 420px;
	line-height: 1.6;
}
.te11{
	font-size: 14px;
	background-color: pink;
	margin-top: 30px;
	width: 85px;
	
}
.te22{
	font-size: 30px;
	background-color: pink;
	margin-top: 20px;
	width: 380px;
	
}
.te33{
	font-size: 14px;
	background-color: pink;
	margin-top: 35px;
	width: 420px;
	line-height: 1.6;
}
.s1{
	display: flex;
	justify-content: space-between;
	margin-right: 128px;
}
.se1{
	font-size: 14px;
	background-color: pink;
	margin-left: 80px;
	margin-top: 30px;
	width: 93px;
}
.se2{
	font-size: 30px;
	background-color: pink;
	margin-left: 80px;
	margin-top: 20px;
	width: 205px;
}
.se3{
	font-size: 14px;
	background-color: pink;
	margin-left: 80px;
	margin-top: 35px;
	width: 420px;
	line-height: 1.6;
}
.se11{
	font-size: 14px;
	background-color: pink;
	margin-top: 30px;
	width: 93px;
	
}
.se22{
	font-size: 30px;
	background-color: pink;
	margin-top: 20px;
	width: 305px;
	
}
.se33{
	font-size: 14px;
	background-color: pink;
	margin-top: 35px;
	width: 420px;
	line-height: 1.6;
}
.sect{
	background-color: #f0f0f0;
}
.conta{
	margin: 0 auto;
	background-color: #f0f0f0;
	padding: 80px 90px;
	display: flex;
	justify-content: center;
    margin-top: 90px;	
}
.input-box {
	display: flex;
	flex-direction: column;
}
.input-box  input{
	width: 400px;
	padding: 10px 20px;
	background: none;
	border: none;
    border-bottom: 2px solid
   
}
label {
	margin-left: 30px;
	margin-bottom: 30px;
}
.in2{
	font-size: 30px;
	text-align: center;
	padding-bottom: 85px;
}
.k1{
	display: flex;
	justify-content: space-between;
	margin-right: 128px;
}
.ke1{
	font-size: 14px;
	background-color: pink;
	margin-left: 80px;
	margin-top: 30px;
	width: 75px;
}
.ke2{
	font-size: 30px;
	background-color: pink;
	margin-left: 80px;
	margin-top: 20px;
	width: 295px;
}
.ke3{
	font-size: 14px;
	background-color: pink;
	margin-left: 80px;
	margin-top: 35px;
	width: 420px;
	line-height: 1.6;
}
.ke11{
	font-size: 14px;
	background-color: pink;
	margin-top: 30px;
	width: 75px;
	
}
.ke22{
	font-size: 30px;
	background-color: pink;
	margin-top: 20px;
	width: 210px;
	
}
.ke33{
	font-size: 14px;
	background-color: pink;
	margin-top: 35px;
	width: 420px;
	line-height: 1.6;
}
button {
	background: none;
    background-color: pink;
    padding: 40px 60px;
    margin-top: 150px;
    margin-left: 484px;
    margin-bottom: 100px
}
.foot{
	margin: 30px;
	margin-left: 15%;
}
.foot1{
	margin: 30px;
    margin-top: -45px;
    margin-left: 70%;
}
.fot{
	background-color: #626262;
	padding: 5px;
}
.clik{
	height: 17px;
	width: 32px;
	margin-left: 310px;
    margin-bottom: -60px;
}
@media screen and  (max-width: 375px){
.container {
	max-width: 375px;
	width:100%;
	margin: 0 auto; 
}
.img1{
	height: auto;
}
.tex3{
	margin-left: 0px;
}
.tex2 {
	margin-left: 0px;
}
.tex1 {
	margin-left: 0px;
}
.flex-mobi{
	display: block;
}
.img2{
    height: auto;
    margin-left: 0px;
}
.img3 {
    height: auto;
    margin-right: 0px;















}